@{
	ViewData["Title"] = "Songs";
}
@model List<Song>

<form asp-controller="Song" asp-action="Index">
	<p>
		<label>Название: <input type="text" name="name" /></label>
		<input type="submit" value="Поиск" />
	</p>
</form>

<div class="container mt-4">
	<div class="row">
		<div class="col-lg-8">
			<h2 class="mb-4">Песни</h2>
			<div class="track-list">
				@for(int i=0; i<Model.Count; i++)
				{
					var song = Model[i];
					<div class="track-item">
						<div class="track-info">
							<h6 class="mb-2">@(i+1) @song.Name</h6>
						</div>
						<audio controls class="audio-player mb-4">
							<source src="@song.UrlSong" type="audio/mpeg"/>
							Ваш браузер не поддерживает аудиоформат.
						</audio>
					</div>
				}
			</div>
		</div>
	</div>
</div>