@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">О нас</h1>
    <p class="text-wrap">
        Добро пожаловать на наш музыкальный портал! Я — Тумоякова Светлана, основатель и разработчик этого сайта. Моя цель — создать удобное пространство для всех
        любителей музыки, где каждый сможет легко находить и наслаждаться своими любимыми треками. На нашем сайте вы можете искать песни, исполнителей и альбомы, а также добавлять
        любимые треки в избранное, чтобы всегда иметь к ним доступ.Я надеюсь, что наш портал станет вашим надежным спутником в мире музыки.
    </p>
</div>
