@using Music.ViewModel
@model ArtistViewModel

<div class="row">
	<div class="col-md-4">
		<form asp-controller="Home" asp-action="Create" method="post" enctype="multipart/form-data">
			<div class="form-group mb-3">
				<label for="Name" class="mb-2">Имя</label>
				<input asp-for="Name" id="Name"/>
			</div>
			<div class="form-group mb-5">
				<label for="File" class="mb-1">UrlImg</label>
				<input asp-for="File" type="file" id="UrlImg"/>
			</div>
			<div class="form-group">
				<input type="submit" value="Добавить"/>
			</div>
		</form>
	</div>
</div>