@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на наш сайт!</h1>
    <p class="text-wrap">
        Здесь вы можете легко находить и слушать свои любимые треки. Используйте удобный поиск по песням, исполнителям и альбомам,
        чтобы быстро находить нужную музыку. Также у вас есть возможность добавлять понравившиеся композиции в избранное, чтобы всегда иметь к ним доступ. Наслаждайтесь простым и
        интуитивно понятным интерфейсом, который сделает ваше музыкальное путешествие приятным и увлекательным!
    </p>
</div>